<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.db.mapper.MUserMapper">
  <resultMap id="BaseResultMap" type="com.example.backend.db.entity.MUser">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD_HASH" jdbcType="VARCHAR" property="passwordHash" />
    <result column="ROLE_CD" jdbcType="VARCHAR" property="roleCd" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="YUKO_FLAG" jdbcType="CHAR" property="yukoFlag" />
    <result column="INS_DATE" jdbcType="TIMESTAMP" property="insDate" />
    <result column="INS_USER_ID" jdbcType="VARCHAR" property="insUserId" />
    <result column="UPD_DATE" jdbcType="TIMESTAMP" property="updDate" />
    <result column="UPD_USER_ID" jdbcType="VARCHAR" property="updUserId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, PASSWORD_HASH, ROLE_CD, EMAIL, YUKO_FLAG, INS_DATE, INS_USER_ID, 
    UPD_DATE, UPD_USER_ID
  </sql>
  <select id="selectByExample" parameterType="com.example.backend.db.entity.MUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from M_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from M_USER
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from M_USER
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.backend.db.entity.MUserExample">
    delete from M_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.backend.db.entity.MUser">
    insert into M_USER (USER_ID, USER_NAME, PASSWORD_HASH, 
      ROLE_CD, EMAIL, YUKO_FLAG, 
      INS_DATE, INS_USER_ID, UPD_DATE, 
      UPD_USER_ID)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{passwordHash,jdbcType=VARCHAR}, 
      #{roleCd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{yukoFlag,jdbcType=CHAR}, 
      #{insDate,jdbcType=TIMESTAMP}, #{insUserId,jdbcType=VARCHAR}, #{updDate,jdbcType=TIMESTAMP}, 
      #{updUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.backend.db.entity.MUser">
    insert into M_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="passwordHash != null">
        PASSWORD_HASH,
      </if>
      <if test="roleCd != null">
        ROLE_CD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="yukoFlag != null">
        YUKO_FLAG,
      </if>
      <if test="insDate != null">
        INS_DATE,
      </if>
      <if test="insUserId != null">
        INS_USER_ID,
      </if>
      <if test="updDate != null">
        UPD_DATE,
      </if>
      <if test="updUserId != null">
        UPD_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passwordHash != null">
        #{passwordHash,jdbcType=VARCHAR},
      </if>
      <if test="roleCd != null">
        #{roleCd,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="yukoFlag != null">
        #{yukoFlag,jdbcType=CHAR},
      </if>
      <if test="insDate != null">
        #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insUserId != null">
        #{insUserId,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null">
        #{updDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        #{updUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.backend.db.entity.MUserExample" resultType="java.lang.Long">
    select count(*) from M_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update M_USER
    <set>
      <if test="row.userId != null">
        USER_ID = #{row.userId,jdbcType=VARCHAR},
      </if>
      <if test="row.userName != null">
        USER_NAME = #{row.userName,jdbcType=VARCHAR},
      </if>
      <if test="row.passwordHash != null">
        PASSWORD_HASH = #{row.passwordHash,jdbcType=VARCHAR},
      </if>
      <if test="row.roleCd != null">
        ROLE_CD = #{row.roleCd,jdbcType=VARCHAR},
      </if>
      <if test="row.email != null">
        EMAIL = #{row.email,jdbcType=VARCHAR},
      </if>
      <if test="row.yukoFlag != null">
        YUKO_FLAG = #{row.yukoFlag,jdbcType=CHAR},
      </if>
      <if test="row.insDate != null">
        INS_DATE = #{row.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.insUserId != null">
        INS_USER_ID = #{row.insUserId,jdbcType=VARCHAR},
      </if>
      <if test="row.updDate != null">
        UPD_DATE = #{row.updDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updUserId != null">
        UPD_USER_ID = #{row.updUserId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update M_USER
    set USER_ID = #{row.userId,jdbcType=VARCHAR},
      USER_NAME = #{row.userName,jdbcType=VARCHAR},
      PASSWORD_HASH = #{row.passwordHash,jdbcType=VARCHAR},
      ROLE_CD = #{row.roleCd,jdbcType=VARCHAR},
      EMAIL = #{row.email,jdbcType=VARCHAR},
      YUKO_FLAG = #{row.yukoFlag,jdbcType=CHAR},
      INS_DATE = #{row.insDate,jdbcType=TIMESTAMP},
      INS_USER_ID = #{row.insUserId,jdbcType=VARCHAR},
      UPD_DATE = #{row.updDate,jdbcType=TIMESTAMP},
      UPD_USER_ID = #{row.updUserId,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.backend.db.entity.MUser">
    update M_USER
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passwordHash != null">
        PASSWORD_HASH = #{passwordHash,jdbcType=VARCHAR},
      </if>
      <if test="roleCd != null">
        ROLE_CD = #{roleCd,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="yukoFlag != null">
        YUKO_FLAG = #{yukoFlag,jdbcType=CHAR},
      </if>
      <if test="insDate != null">
        INS_DATE = #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insUserId != null">
        INS_USER_ID = #{insUserId,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null">
        UPD_DATE = #{updDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserId != null">
        UPD_USER_ID = #{updUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.backend.db.entity.MUser">
    update M_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD_HASH = #{passwordHash,jdbcType=VARCHAR},
      ROLE_CD = #{roleCd,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      YUKO_FLAG = #{yukoFlag,jdbcType=CHAR},
      INS_DATE = #{insDate,jdbcType=TIMESTAMP},
      INS_USER_ID = #{insUserId,jdbcType=VARCHAR},
      UPD_DATE = #{updDate,jdbcType=TIMESTAMP},
      UPD_USER_ID = #{updUserId,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>